<div class="container">
  <div id="map" class="map"></div>
  <div class="sidebar">
    <div class="button-group">
      <button (click)="saveMapPoint()">Noktayı Kaydet</button>
      <button (click)="downLoadEdittingJson()">Nihai Listeyi İndir</button>
      <button (click)="downLoadAllJson()">Tüm Listeyi İndir</button>
    </div>
    <div class="table-container">
      <table>
        <thead>
          <tr>
            <th>ID</th>
            <th>Tarih</th>
            <th>Enlem</th>
            <th>Boylam</th>
            <th>İşlemler</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let point of mapPoints" (click)="addMarker(point)">
            <td>{{point.id}}</td>
            <td>{{point.dateTime | date:'dd/MM/yyyy HH:mm'}}</td>
            <td>{{point.lat | number:'1.2-2'}}</td>
            <td>{{point.lng | number:'1.2-2'}}</td>
            <td>
              <button (click)="removeMapPoint(point.id, $event)">Sil</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
